/* Legacy aggregator for backwards compatibility.
   Prefer linking base.css + layout.css + components.css + page css + responsive.css */
@import url('./base.css');
@import url('./layout.css');
@import url('./components.css');
@import url('./pages/home.css');
@import url('./pages/presskit.css');
@import url('./pages/clinicas.css');
@import url('./pages/bio.css');
@import url('./responsive.css');
